{"openapi":"2.0","info":{"title":"Java loyalty API","description":"Java loyalty sample application","license":{"name":"Apache 2.0"},"version":"v0.0.1"},"servers":[{"url":"https://api-sandbox.vitadairyvietnam.vn","description":"Server URL in Development environment"}],"paths":{"/user-gifts/pre-order/{id}/{userId}":{"put":{"tags":["user-gift-controller"],"operationId":"putMethodName","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserGiftDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/filters/update-by-parent/{parentId}":{"put":{"tags":["admin-filter-controller"],"operationId":"updateByParent","parameters":[{"name":"parentId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/filters/update-by-label-code/{labelCode}":{"put":{"tags":["admin-filter-controller"],"operationId":"updateByLabelCode","parameters":[{"name":"labelCode","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user-gifts/pre-order":{"post":{"tags":["user-gift-controller"],"operationId":"postMethodName","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreOrderDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/gifts":{"get":{"tags":["gift-controller"],"operationId":"getGifts","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ListGiftDto"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["gift-controller"],"operationId":"postMethodName_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/favorite-gifts":{"post":{"tags":["favorite-gift-controller"],"operationId":"toggle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToggleDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/constants":{"get":{"tags":["constant-controller"],"operationId":"list","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["constant-controller"],"operationId":"postMethodName_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConstantDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/filters":{"get":{"tags":["admin-filter-controller"],"operationId":"filters_1","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ListFilter"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["admin-filter-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Create"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/gifts/{id}":{"get":{"tags":["gift-controller"],"operationId":"getDetails","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"patch":{"tags":["gift-controller"],"operationId":"updateGift","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/constants/{id}":{"get":{"tags":["constant-controller"],"operationId":"getDetails_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"patch":{"tags":["constant-controller"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConstantDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/filters/{labelCode}/status":{"patch":{"tags":["admin-filter-controller"],"operationId":"updateStatus","parameters":[{"name":"labelCode","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateStatus"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/user-gifts/user/{userId}":{"get":{"tags":["user-gift-controller"],"operationId":"getUserGifts","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/order/resource/status":{"get":{"tags":["resource-controller"],"operationId":"getOrderStatus","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetOrderStatusResponseDto"}}}}}}},"/health/check":{"get":{"tags":["health-check"],"operationId":"health","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/HealthCheckResponseDto"}}}}}}},"/gifts/sections":{"get":{"tags":["gift-controller"],"operationId":"sectionGifts","parameters":[{"name":"dto","in":"query","required":true,"schema":{"$ref":"#/components/schemas/SectionGiftDto"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/filters":{"get":{"tags":["filter-controller"],"operationId":"filters","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/favorite-gifts/gifts":{"get":{"tags":["favorite-gift-controller"],"operationId":"listGifts","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/favorite-gifts/gift-ids":{"get":{"tags":["favorite-gift-controller"],"operationId":"favoriteGiftIds","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/filters/{labelCode}":{"get":{"tags":["admin-filter-controller"],"operationId":"detail","parameters":[{"name":"labelCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["admin-filter-controller"],"operationId":"delete","parameters":[{"name":"labelCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/actuator/health":{"get":{"tags":["healcheck"],"operationId":"health_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}}},"components":{"schemas":{"UpdateUserGiftDto":{"required":["status"],"type":"object","properties":{"id":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["PRE_ORDER","PENDING","CANCEL"]}}},"Update":{"required":["name","values"],"type":"object","properties":{"name":{"type":"string"},"status":{"type":"string","enum":["ENABLED","DISABLED"]},"values":{"type":"array","items":{"type":"string"}},"priority":{"type":"integer","format":"int32"},"parentId":{"type":"integer","format":"int32"},"createdBy":{"type":"integer","format":"int32"},"updatedBy":{"type":"integer","format":"int32"}}},"PreOrderDto":{"required":["giftId","quantity","userId"],"type":"object","properties":{"giftId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"quantity":{"minimum":1,"type":"integer","format":"int32"}}},"Gift":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"images":{"type":"array","items":{"type":"string"}},"transportTypeCode":{"type":"string"},"status":{"type":"string","enum":["ENABLED","DISABLED"]},"name":{"type":"string"},"badgeCodes":{"type":"array","items":{"type":"string"}},"categoryCode":{"type":"string"},"tireCodes":{"type":"array","items":{"type":"string"}},"type":{"type":"string","enum":["GIFT","E_VOUCHER","E_VOUCHER_SHOP","E_VOUCHER_SHOP_BKIDS","EV_VITAE_CODE","COUPON"]},"point":{"type":"integer","format":"int32"},"price":{"type":"integer"},"hiddenTags":{"type":"array","items":{"type":"string"}},"sfNumber":{"type":"integer","format":"int64"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"expireDate":{"type":"string","format":"date-time"},"expireHour":{"type":"integer","format":"int32"},"sctNumber":{"type":"string"},"quantity":{"type":"integer","format":"int64"},"inventory":{"type":"integer","format":"int32"},"quantityLimitForBooking":{"type":"integer","format":"int32"},"purchaseOption":{"type":"string"},"quantityReward":{"type":"integer","format":"int32"},"quantityReservation":{"type":"integer","format":"int32"},"isAllowReservation":{"type":"boolean"},"priority":{"type":"integer","format":"int32"},"dynamicData":{"$ref":"#/components/schemas/GiftDynamicData"},"giftReservation":{"$ref":"#/components/schemas/GiftReservation"}}},"GiftDto":{"required":["badgeCodes","categoryCode","dynamicData","hiddenTags","images","name","point","status","tireCodes","transportTypeCode","type"],"type":"object","properties":{"images":{"type":"array","items":{"type":"string"}},"transportTypeCode":{"type":"string"},"status":{"type":"string","enum":["ENABLED","DISABLED"]},"name":{"maxLength":100,"minLength":0,"type":"string"},"badgeCodes":{"type":"array","items":{"type":"string"}},"categoryCode":{"type":"string"},"tireCodes":{"type":"array","items":{"type":"string"}},"type":{"type":"string","enum":["GIFT","E_VOUCHER","E_VOUCHER_SHOP","E_VOUCHER_SHOP_BKIDS","EV_VITAE_CODE","COUPON"]},"point":{"minimum":0,"type":"integer","format":"int32"},"price":{"type":"integer"},"hiddenTags":{"type":"array","items":{"type":"string"}},"sfNumber":{"minimum":0,"type":"integer","format":"int64"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"expireDate":{"type":"string","format":"date-time"},"expireHour":{"minimum":0,"type":"integer","format":"int32"},"sctNumber":{"type":"string"},"quantity":{"minimum":0,"type":"integer","format":"int64"},"inventory":{"minimum":0,"type":"integer","format":"int32"},"quantityLimitForBooking":{"minimum":0,"type":"integer","format":"int32"},"purchaseOption":{"type":"string"},"quantityReward":{"minimum":0,"type":"integer","format":"int32"},"quantityReservation":{"minimum":0,"type":"integer","format":"int32"},"isAllowReservation":{"type":"boolean"},"priority":{"minimum":0,"type":"integer","format":"int32"},"dynamicData":{"$ref":"#/components/schemas/GiftDynamicDataDto"},"giftReservation":{"$ref":"#/components/schemas/GiftReservationDto"}}},"GiftDynamicData":{"type":"object","properties":{"description":{"type":"string"},"link":{"type":"string"},"weight":{"type":"number"},"height":{"type":"number"},"width":{"type":"number"},"length":{"type":"number"}}},"GiftDynamicDataDto":{"required":["link"],"type":"object","properties":{"description":{"type":"string"},"link":{"type":"string"},"weight":{"minimum":0.0,"exclusiveMinimum":false,"type":"number"},"height":{"minimum":0.0,"exclusiveMinimum":false,"type":"number"},"width":{"minimum":0.0,"exclusiveMinimum":false,"type":"number"},"length":{"minimum":0.0,"exclusiveMinimum":false,"type":"number"}}},"GiftReservation":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"gift":{"$ref":"#/components/schemas/Gift"},"reservationPoint":{"type":"integer","format":"int32"},"reservationPercent":{"type":"integer","format":"int32"},"limitReservationTime":{"type":"integer","format":"int32"},"discountReservationPoint":{"type":"integer","format":"int32"},"discountReservationPercent":{"type":"integer","format":"int32"},"reservationExpiredDays":{"type":"integer","format":"int32"},"minCoinsForReservation":{"type":"integer","format":"int32"},"maximumReservationQuantity":{"type":"integer","format":"int32"}}},"GiftReservationDto":{"type":"object","properties":{"reservationPoint":{"minimum":0,"type":"integer","format":"int32"},"reservationPercent":{"minimum":0,"type":"integer","format":"int32"},"discountReservationPoint":{"minimum":0,"type":"integer","format":"int32"},"discountReservationPercent":{"minimum":0,"type":"integer","format":"int32"},"minCoinsForReservation":{"minimum":0,"type":"integer","format":"int32"},"reservationExpiredDays":{"minimum":0,"type":"integer","format":"int32"},"maximumReservationQuantity":{"minimum":0,"type":"integer","format":"int32"},"limitReservationTime":{"minimum":0,"type":"integer","format":"int32"},"gift":{"$ref":"#/components/schemas/Gift"}}},"ToggleDto":{"required":["giftId","userId"],"type":"object","properties":{"giftId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"action":{"type":"string","enum":["ADD","REMOVE"]}}},"ConstantDto":{"required":["isActive","keyBeta","value"],"type":"object","properties":{"keyAlpha":{"type":"string"},"keyBeta":{"type":"string"},"keyGamma":{"type":"string"},"keyDelta":{"type":"string"},"value":{"type":"string"},"isActive":{"type":"boolean"},"priority":{"type":"integer","format":"int32"},"dynamicData":{"type":"object","additionalProperties":{"type":"object"}}}},"Create":{"required":["name","values"],"type":"object","properties":{"name":{"type":"string"},"status":{"type":"string","enum":["ENABLED","DISABLED"]},"values":{"type":"array","items":{"type":"string"}},"priority":{"type":"integer","format":"int32"},"parentId":{"type":"integer","format":"int32"},"createdBy":{"type":"integer","format":"int32"},"updatedBy":{"type":"integer","format":"int32"}}},"UpdateStatus":{"type":"object","properties":{"status":{"type":"string","enum":["ENABLED","DISABLED"]}}},"GetOrderStatusResponseDto":{"type":"object","properties":{"order_status":{"type":"array","items":{"$ref":"#/components/schemas/OrderStatusDto"}}}},"OrderStatusDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"code":{"type":"string"},"name":{"type":"string"}}},"HealthCheckResponseDto":{"type":"object","properties":{"hello":{"type":"string"}}},"ListGiftDto":{"type":"object","properties":{"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"id":{"type":"string"},"ids":{"type":"array","items":{"type":"integer","format":"int32"}},"status":{"type":"string","enum":["ENABLED","DISABLED"]},"isAllowReservation":{"type":"boolean"},"categoryCode":{"type":"string"},"name":{"type":"string"},"maxPoint":{"type":"number","format":"double"},"pageable":{"$ref":"#/components/schemas/PageableObject"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"unpaged":{"type":"boolean"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"SectionGiftDto":{"type":"object","properties":{"hiddenTag":{"type":"string"},"maxPoint":{"type":"number","format":"double"},"limit":{"type":"integer","format":"int32"},"status":{"type":"string"}}},"ListFilter":{"type":"object","properties":{"label":{"type":"string"},"status":{"type":"string","enum":["ENABLED","DISABLED"]},"labelCode":{"type":"string"}}}}}}
